<!DOCTYPE html>
<html>
<head>
    <title>Películas con <%= actorName %></title>
    <link rel="stylesheet" href="/actor.css">
</head>
<body>
    <header>
        <h1>HBOmax</h1>
        <form action="/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar películas..." />
            <button type="submit">Buscar</button>
        </form>
    </header>
<h2>Películas con <%= actorName %></h2>
<ul>
    <% movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
        <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
    <% }); %>
</ul>
<p></p>
<div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>
