<!DOCTYPE html>
<html>
<head>
    <title>Películas de <%= directorName %></title>
    <link rel="stylesheet" href="/director.css">
</head>
<body>
    <header>
        <h1><a style="color: white; text-decoration: none;" href="/">HBOmax</a></h1>
        <form action="/buscar" method="GET">
            <input class="search-input" type="text" name="q" placeholder="Películas, actores o directores..." />
            <button class="search-button" type="submit">Buscar</button>
        </form>
        <form action="/tags" method="GET" class="tag-form">
            <input class="tag-input" type="text" name="q" placeholder="Buscar por tags..." />
            <button class="tag-button" type="submit">Buscar</button>
        </form>
    </header>
    <h2><%= directorName %></h2>
    <div class="movies-container">
        <div class="movies-column">
            <h4>Películas en las que actuó:</h4>
            <ul>
                <% actedInMovies.forEach((movie) => { %>
                    <li><a class="movie" href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
                <% }); %>
            </ul>
        </div>
        <div class="movies-column">
            <h4>Películas que dirigió:</h4>
            <ul>
                <% directedMovies.forEach((movie) => { %>
                    <li><a class="movie" href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>
