<!DOCTYPE html>
<html>
<head>
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/pelicula.css">
</head>
<body>
    <header>
        <h1><a style="color: white; text-decoration: none;" href="/">HBOmax</a></h1>
        <form action="/buscar" method="GET">
            <input class="search-input" type="text" name="q" placeholder="Películas, actores o directores..." />
            <button class="search-button" type="submit">Buscar</button>
        </form>
        <form action="/tags" method="GET" class="tag-form">
            <input class="tag-input" type="text" name="q" placeholder="Buscar por tags..." />
            <button class="tag-button" type="submit">Buscar</button>
        </form>
    </header>
<h2><a href="<%= movie.homepage %>" target="_blank"><%= movie.title %></a></h2>
<div class="vote">
    <h5>Calificación: </h5>
    <h5><%= movie.vote_average %>/10</h5>
</div>
<hr/>
<div class="genre">
    <h3>Género: <%= movie.genre %></h3>
</div>
<div class="section1">
    <h3>Fecha: <%= movie.release_date %></h3>
    <div style="display: flex; align-items: center;">
        <h3>Dirigida por: </h3>
        <ul style="background: none;">
            <% movie.directors.forEach((director) => { %>
                <li>
                    <a class="director" href="/director/<%= director.crew_member_id %>"><%= director.crew_member_name %></a>
                </li>
            <% }); %>
        </ul>
    </div>
    <div style="display: flex; align-items: center;">
       <h3>Escrita por: </h3>
        <ul style="background: none;">
            <% movie.writers.forEach((writer) => { %>
                <li class="director">
                    <%= writer.crew_member_name %>
                </li>
            <% }); %>
        </ul> 
    </div>
    
</div>
<section>
    <h4>Argumento:</h4>
    <div id="overview"><p><%= movie.overview %></p></div>
</section>
<section>
    <h4>Elenco:</h4>
    <ul>
        <% movie.cast.sort((a, b) => a.cast_order - b.cast_order).forEach((actor) => { %>
            <li><a href="/actor/<%= actor.actor_id %>"><%= actor.actor_name %></a> - <%= actor.character_name %></li>
        <% }); %>
    </ul>
</section>
<section>
    <h4>Crew:</h4>
    <ul>
        <% movie.crew.forEach((crewMember) => { %>
            <li>
                <%= crewMember.crew_member_name %> - <%= crewMember.department_name %>
                (<%= crewMember.job %>)
            </li>
        <% }); %>
    </ul>
</section>

</body>
</html>
