<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/resultado.css">
</head>
<body>
    <header>
        <h1>HBOmax</h1>
        <form action="/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar películas..." />
            <button type="submit">Buscar</button>
        </form>
    </header>
<div class="container">
    <div class="col">
        <h2>Peliculas</h2>
        <% if (movies.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% movies.forEach((movie) => { %>
                    <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="col">
        <h2>Directores</h2>
        <% if (directors.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% directors.forEach((p) => { %>
                    <li><a href="/director/<%= p.person_id %>"><%= p.person_name %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="col">
        <h2>Actores</h2>
        <% if (actors.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% actors.forEach((p) => { %>
                    <li><a href="/actor/<%= p.person_id %>"><%= p.person_name %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>
</body>
</html>